@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&family=Poiret+One&family=Special+Elite&display=swap");
body {
  background-color: #ff0000;
  scroll-behavior: smooth;
}
.heading {
  text-align: center;
  text-decoration: underline;
  font-family: Cookie;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}
.content {
  font-size: 1rem;
  font-size: none;
  font-family: "Special Elite", cursive;
  text-align: justify;
}
.content_heading {
  font-family: "Arima Madurai", cursive;
  font-size: 1.5rem;
}
.cards {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.a {
  margin: 1.2rem;
}

@media only screen and (max-width: 786px) {
  .n {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
